.loading {
	background: transparent url('../img/throbber.gif') no-repeat left center;
}

#statusParent {
	margin: 10px 0;
}

#statusIcon {
	width: 16px;
	height: 16px;
	display: inline-block;
	float: left;
	margin: -5px 7px 70px 0;
}

#status {
	position: relative;
    top: -3px;
}