#htmlSerializer {
	margin: 5px;
	float: left;
	font-weight: normal;
	overflow: auto;
	background-color: #fff;
}

#htmlSerializer a {
	color: #2779AA;
}

#htmlSerializer ul {
	list-style: none;
	margin: 10px 0;
	padding: 0;
}

#htmlSerializer li {
	padding: 2px;
	font-size: 12px;
	clear: both;
}

#types li, #rdfs li {
	padding: 4px;
}

#htmlSerializer hr {
	border: none;
	border-top: 1px solid #999;
	margin: 10px 0 0 0;
}

#htmlSerializer pre {
	font-size: 12px;
}

#htmlSerializer .buttons {
}

#htmlSerializer .box {
    padding: 10px;
}

#htmlSerializer li > div {
	float: left;
	padding: 5px;
}

#htmlSerializer .label {
	text-align: right;
	min-width: 175px;
}

#htmlSerializer .label, .info {
	padding: 6px 5px;
}

#htmlSerializer .link {
	position: relative;
	border: 1px solid #fff;
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#htmlSerializer .link a {
	position: relative;
	display: inline-block;
	z-index: 1;
}

#htmlSerializer .hover {
	background-color: #f0f7fc;
	border: 1px solid #AED0EA;
}

#htmlSerializer .extraLinks {
	position: absolute;
	left: -9999px;
	z-index: 10;
	padding: 5px;
	margin-top: 5px;
	background-color: #f0f7fc;
	border: 1px solid #AED0EA;
	border-top-width: 0px;
	border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#htmlSerializer .extraLinks a {
	padding: 0 3px;
}

#htmlSerializer .hover .extraLinks {
	left: -1px;
	
}
