body {
	margin: 5px;
}

a {
	color: #2779AA;
}

ul {
	list-style: none;
	margin: 10px 0;
	padding: 0;
}

li {
	padding: 2px;
	font-size: 12px;
	clear: both;
}

#types li, #rdfs li {
	padding: 4px;
}

hr {
	border: none;
	border-top: 1px solid #999;
	margin: 10px 0 0 0;
}

pre {
	font-size: 12px;
}

.buttons {
	float: right;
}

.box {
    padding: 10px;
    float: left;
    clear: left;
}

.blank {
	border: none !important;
	background: none !important;
}

.blank .ui-widget-content {
	border: none !important;
	background: none !important;
}

.section {
    margin: 10px 0;
    padding: 10px;
    float: left;
}

li > div {
	float: left;
	padding: 5px;
}

.label {
	text-align: right;
	min-width: 175px;
}

.label, .info {
	padding: 6px 5px;
}

.link {
	position: relative;
	border: 1px solid #fff;
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.link a {
	position: relative;
	display: inline-block;
	z-index: 1;
}

.hover {
	background-color: #f0f7fc;
	border: 1px solid #AED0EA;
}

.extraLinks {
	position: absolute;
	left: -9999px;
	z-index: 10;
	padding: 5px;
	margin-top: 5px;
	background-color: #f0f7fc;
	border: 1px solid #AED0EA;
	border-top-width: 0px;
	border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.extraLinks a {
	padding: 0 3px;
}

.hover .extraLinks {
	left: -1px;
	
}
