#importer {
    background-position: left top !important;
    margin: 0 auto;
    padding: 10px;
    width: 645px;
}

#importer h2 {
    text-align: center;
}

.section {
    margin: 10px 0;
    padding: 10px;
	width: 625px;
	float: left;
}

label {
    font-size: 12px;
	margin-top: 2px;
    margin-right: 10px;
    float: left;
    text-align: right;
    width: 185px;
}

p.description {
	margin: 10px 25px 10px 0;
}

#buttons {
	clear: both;
	margin-left: 250px;
}

button {
    margin: 0 5px;
}

input {
    display: block;
    margin-bottom: 5px;
	width: 225px;
}

#parseFileName {
	width: auto;
	float: left;
}

#subdir {
	padding: 2px;
}

h3 {
	margin-bottom: 10px;
	border: none;
	border-bottom: 1px solid #A28BA2;
}

.technical {
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
}

.info {
	width: 24px;
	height: 24px;
	margin-top: -8px;
	float: right;
}

.info:hover {
	cursor: pointer;
}

.info .icon {
	display: block;
	float: left;
	background: url('../img/information.png') 8px 8px no-repeat;
	width: 24px;
	height: 24px;
}

.hover .icon {
	background: url('../img/information.png') 7px 7px no-repeat;
}

.info p {
	display: none;
	margin: 5px 8px 5px 28px;
	text-align: left;
}

.hover {
	max-width: 200px;
	width: auto;
	height: auto;
	background-color: #eee;
	position: absolute;
	z-index: 5;
}

.hover p {
	display: block;
}

.ui-state-highlight {
	box-shadow: 2px 2px 4px #ccc;
}

.ui-widget-content {
	font-weight: normal;
}
