#start {
	position: absolute;
	top: 33%;
	left: 50%;
	height: 140px;
	width: 400px;
	margin-top: -140px;
	margin-left: -250px;
	padding: 10px;
	text-align: center;
}

button {
	margin: 5px 0;
}