body {
	overflow: hidden;
}

#sidebar {
	width: 400px;
	padding: 5px;
	float: left;
	margin: 0;
	background-position: top left !important;
	text-align: center;
}

.searchTool {
	padding: 5px;
	margin: 5px 0;
	font-size: 12px;
}

h2 {
	text-align: center;
}

#main {
	padding: 5px;
	margin: 0 0  0 420px;
	background-position: top left !important;
}

#search input {
	width: 140px;
}

#search input, #search select[name="field"] {
	margin: 0 5px;
}

#search .ui-button-text-only .ui-button-text {
    padding: 0.2em 0.6em;
}

#firstRow {
	margin-left: 14px;
}

.searchRow {
	margin-bottom: 3px;
}

#sparqlQuery {
	width: 350px;
	height: 100px;
}

#results {
	font-size: 11px;
	color: #666;
	overflow: auto;
}

#results {
	background: none #fff !important;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	padding: 5px;
}

li:nth-child(even) {
	background: #fff;
}

li:nth-child(odd) {
	background: #dedede;
}

li:hover {
	background-color: #DEEDF7;
	cursor: pointer;
}

.label {
	color: #999;
}

.title {
	font-weight: bold;
	color: #222;
	font-size: 12px;
}

.error {
	color: red;
	font-size: 12px;
}
