body {
	margin: 0;
	padding: 0;
	font-family: "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	font-size: 10px;
	color: #333;
}

h1 {
	margin: 5px 0;
	font-size: 20px;
}

h2 {
	margin: 2px 0;
	font-size: 15px;
}

h3 {
	margin: 2px 0;
	font-size: 13px;
}

p {
	margin: 5px 0;
	padding: 0;
	font-size: 12px;
}

hr {
	margin: 10px 0;
	border: none;
	border-bottom: 1px solid #999;
}

#content {
	margin-top: 30px;
	padding: 10px;
}

.clear {
	clear: both;
}

#header {
	width: 100%;
	background-color: #2779AA;
	color: #fff;
	position: fixed;
	top: 0px;
	left: 0px;
	font-family: "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	border-bottom: 1px solid #AED0EA;
}

#header a {
	margin: 3px 5px 0;
	padding: 5px 10px;
	text-decoration: none;
	color: #fff;
	display: inline-block;
	border: 1px solid #2779AA;
	border-bottom: none;
}

#header a:hover {
	color: #333;
	background-color: #AED0EA;
}

#header a.current {
	color: #333;
	background-color: #fff;
	border: 1px solid #AED0EA;
	border-bottom: 1px solid #fff;
	margin-bottom: -1px;
}

#header a.current:hover {
	color: #333;
}
