body {
	margin: 0;
	padding: 0;
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	font-size: 10px;
	color: #333;
}

h1 {
	margin: 5px 0;
	font-size: 20px;
}

h2 {
	margin: 2px 0;
	font-size: 15px;
}

h3 {
	margin: 2px 0;
	font-size: 13px;
}

p {
	margin: 5px 0;
	padding: 0;
	font-size: 12px;
}

#content {
	padding: 10px;
}

.clear {
	clear: both;
}
