body {
	overflow: hidden;
}

#sidebar {
	width: 300px;
	padding: 5px;
	float: left;
	margin: 0;
	background-position: top left !important;
}

#sidebar h2 {
	text-align: center;
}

#collections {
	margin-top: 5px;
}

#collectionsSelector {
	margin: 5px 0;
	text-align: center;
}

#main {
	padding: 5px;
	margin: 0 0  0 320px;
	background-position: top left !important;
}

#toolContent {
	margin-top: 10px;
}

#tools {
	margin-top: 5px;
	text-align: center;
}

iframe {
	border: none;
}

#search input {
	width: 225px;
}

.jstree {
	margin-top: 5px;
	font-family: Arial, sans-serif;
	max-height: 400px;
	overflow: auto;
}