#sidebar {
	width: 200px;
	padding: 5px;
	float: left;
	margin: 0;
	background-position: top left !important;
}

#sidebar h2 {
	text-align: center;
}

#main {
	padding: 5px;
	margin: 0 0  0 220px;
	background-position: top left !important;
}

#toolContent {
	margin-top: 10px;
	min-height: 400px;
}

iframe {
	width: 100%;
	border: none;
}

#search input {
	width: 130px;
}

.jstree {
	margin-top: 5px;
	font-family: Arial, sans-serif;
	max-height: 400px;
	overflow: auto;
}